# vim:filetype=yaml

machine:
  network:
    hostname: ${hostname}
    nameservers:
      - 192.168.30.1
    interfaces:
      - interface: eth0
        dhcp: false
        addresses:
          - ${ipv4_address}/24
        routes:
          - network: 0.0.0.0/0
            gateway: ${ipv4_gateway}
        vip:
          ip: ${vip_address}
  kubelet:
    extraArgs:
      feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
      rotate-server-certificates: "true"
  time:
    disabled: false
    servers:
      - time.milton.mcf.io

cluster:
  allowSchedulingOnControlPlanes: true
  network:
    podSubnets:
      - ${pod_subnet}
    serviceSubnets:
      - ${service_subnet}
    cni:
      name: none
  proxy:
    disabled: true
