# vim:filetype=yaml

machine:
  kubelet:
    extraArgs:
      feature-gates: CronJobTimeZone=true,GracefulNodeShutdown=true
      rotate-server-certificates: "true"
  time:
    disabled: false
    servers:
      - time.milton.mcf.io

cluster:
  network:
    podSubnets:
      - ${podSubnet}
    serviceSubnets:
      - ${serviceSubnet}
    cni:
      name: none
  proxy:
    disabled: true
